/* General styling */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Navigation styling */
nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}

nav a {
    margin: 0 15px;
    color: #ffffff; /* Changed to white */
    text-decoration: none;
}

nav a:hover {
    color: #e67e22;
}

/* Header styling */
header {
    text-align: left; /* Left align header */
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #ffffff; /* Changed to white */
}

.highlight {
    color: #f39c12;
}

/* Container styling */
.container {
    display: flex;
    margin: 20px;
    align-items: flex-start;
}

/* Sidebar styling */
.sidebar {
    width: 20%; /* Reduced width */
    margin-right: 30px; /* Move slightly left from the center */
}

.sidebar img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

/* Social icons styling */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    font-size: 1.5em;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}

.social-icons a:hover {
    color: #f1c40f;
}

/* Main content styling */
.content {
    width: 75%; /* Main content adjusted for left bias */
}

.main-content h2 {
    color: #e67e22;
}

.main-content ul {
    list-style-type: none;
    padding: 0;
}

.main-content li {
    margin-bottom: 8px;
}

.main-content a {
    color: #f1c40f;
    text-decoration: none;
}


/* Project post styling */
.project-post {
    background-color: #333;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
}

.project-post h2 {
    color: #e67e22;
    margin-top: 0;
}

.project-post p {
    color: #ffffff;
}

.project-post a {
    color: #f1c40f;
    text-decoration: none;
}

.project-post a:hover {
    color: #e67e22;
}
